<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nata</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</head>

<body>

    <div class="top-container">
         <img class="top-cloud" src="/static/css/images/cloud.png" alt="cloud-img">
         <h1>Je suis Nata</h1>
         <h2>un <span class="pro">pro</span>grammeur.</h2>
         <img class="bottom-cloud" src="/static/css/images/cloud.png" alt="cloud-img">
         <img class="mount" src="/static/css/images/mountain.png" alt="mount-img">
    </div>

    <div class="middle-container">
          <div class="profile">
                <img class="nata" src="/static/css/images/nata_circle.png" alt="">
                <h2 class="others">Hello.</h2>
                <p class="prof-par">Je suis peut être assez réservé ou sauvage, selon mon humeur.
                    Je suis une bonne compagnie à garder et je me soucie beaucoup de mes proches.
                    La famille est ma priorité numéro un et tout vient en second... De plus,
                    même si je ne le montre pas toujours, <span class="uzzy">j'aime tellement Usman.</span></p>
          </div>

          <hr>

          <div class="skills">
                <h2 class="others">Mes compétences.</h2>
                <div class="skill-row">
                      <img class="math-img" src="/static/css/images/think.png" alt="math-pic">
                      <h3>Mathématiques</h3>
                      <p>Je suis très bon en mathématiques et j'aime vraiment résoudre des problèmes et trouver des
                          solutions... Je peux juste majour en mathématiques.</p>
                </div>

            <div class="skill-row">
                  <img class="physics-img" src="/static/css/images/atom.png" alt="physics-pic">
                  <h3>La physique</h3>
                  <p>Je n'en ai peut-être pas l'air, mais j'aime aussi beaucoup la physique. En fait,
                      je réussis bien dans la plupart des matières scientifiques,
                      mais j'aime beaucoup la physique et les mathématiques.
                      Ai-je mentionné que j'aime stresser Usman inutilement?</p>
            </div>

           </div>

            <hr>

              <div class="contact-me">
                    <h2 class="others">Entrer en contact</h2>
                    <h3>Aucun contact disponible pour le moment.</h3>
                    <p><span class="my_name">Usman:</span> Aminata, c'est difficile d'exprimer ce que je ressens pour
                        toi, parce que je sais que le concept d'amour d'un mec ne te semble pas réel parce que tu ne
                        nous fais pas confiance. Mais je ne suis pas dupe et je sais ce que je veux.
                        Ne me comparez pas à ces petits garçons de votre école, de votre rue ou des environs.
                        Je suis différent de bien des façons. J'espère juste que vous le verrez bientôt.
                        Je vous aime..</p>
                    <a class="btn" href="mailto:sysavaneusman1@gmail.com">CONTACT ME</a>
              </div>
    </div>


<div class="bottom-container">
  <a class="footer-link" href="">LinkedIn</a>
  <a class="footer-link" href="">Twitter</a>
  <a class="footer-link" href="">Website</a>
  <p class="copyright">© {{ yr }} Sy-savane Usman@Synat.</p>
</div>


</body>
</html>
